
*{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    
}
/*Navigation bar*/
header *{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: none;
    position: block;
}
header{
    position: static;    
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 5% 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    width: 200px;
    height: 200px;
}
header .logo img{
    width: 100%;
    height: 100%;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 50px;
    position: relative;
}
header nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    display: block;
}
header nav ul li a:hover{
    color: rgb(204, 204, 11);
    border-top: #000 3px solid;  
}

/*Home Page*/
.main_img{
    width: 100%;
    height: 100vh;
} 
.cont_1{
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    width: 1300px;
    height: 600px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.txt_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #fafafa82;
}
.txt_cont h1{
    font-size: 50px;
    margin: 0;
}
.txt_cont p{
    font-size: 20px;
    margin-top: 10px;
}
.cont_2{
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    width: 1300px;
    height: 600px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.cont_3{
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
    width: 1300px;
    height: 600px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.cont_4{
    background-image: url(../images/4.png);
    background-size: cover;
    background-position: center;
    width: 1300px;
    height: 600px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
/*Branches Page*/

.ahangala{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    padding: 25px;
    background-color: rgb(114, 56, 56);
    border-radius: 20px;
}
.ahangala_img{
    width: 300px;
    height: 300px;
}
.ahangala-text{
    text-align: center;
    width: 300px;
    height: 300px; 
}

.ella{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    padding: 25px;
    background-color: rgb(114, 56, 56);
    border-radius: 20px;
}
.ella_img{
    width: 300px;
    height: 300px;
}
.ella-text{
    text-align: center;
    width: 300px;
    height: 300px; 
}

.habarana{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
    padding: 25px;
    background-color: rgb(114, 56, 56);
    border-radius: 20px;
}
.habarana_img{
    width: 300px;
    height: 300px;
}
.habarana-text{
    text-align: center;
    width: 300px;
    height: 300px; 
}
table, th, td {
    border: solid 2px black;
    margin: 5%;
    border-color: black;
}

/*Adventure Page*/

.Adventure{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.Adventure img{
    width: 300px;
    height: 300px;
}
.ele_bath{
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(114, 56, 56);
    border-radius: 10px;
}
.Whale-watch{
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(114, 56, 56);
    border-radius: 10px;
}
.tea{
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(114, 56, 56);
    border-radius: 10px;
}

/*Resturant Page*/
.res_1{
    display: flex;
    justify-content: space-between;
    margin: 3% 13%;
    padding: 20px;
    background-color: rgb(233, 183, 183);
}
.res_1 img{
    width: 300px;
    height: 300px;
    margin: 40px;
}
.res_1_txt{
    margin: 40px;
}
button{
    background-color: rgb(172, 53, 53);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
}
.links{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 10%;
}
.wed{
    background-image: url(../images/wedd.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.wed-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: whitesmoke;
    background-color: #00000071;
    padding: 15px;
}
.par{
    background-image: url(../images/party.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 5%;
}
.links .wed:hover, .par:hover{
    transform: scale(0.8);
    transition: 0.5s;
}
/* Booking Page */

form{
    position: relative;
    margin:  5% 25%;
    text-align: center;
    background-color: rgba(95, 158, 160, 0.612);
}
form h1{
    text-align: center;
    margin: 5%;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
form div{
    margin: 25px;;
}
#menu{
    display: none;
}
header label{
    font-size: 20px;
    color: white; 
    cursor: pointer;
    display: none;
 }
 footer{
    background-color: rgb(114, 56, 56);
    color: white;
    text-align: center;
 }
    footer p{
        margin: 0;
    }
    footer a{
        color: white;
        text-decoration: none;
    }
    footer a:hover{
        color: rgb(204, 204, 11);
    }
    footer ul{
        list-style: none;
        
    }
.footer{
    display: flex;
    justify-content: space-evenly;
    
}