/*Navigation bar*/
header *{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: none;
    position: block;
    
}
header{
    position: static;    
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 5% 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: rgb(32, 85, 85);
}
header .logo{
    width: 100px;
    height: 100px;
}
header .logo img{
    width: 100%;
    height: 100%;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 60px;
    position: relative;
}
header nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    display: block;
}
header nav ul li a:hover{
    color: rgb(11, 204, 136);
    border-top: #000 3px solid; 
    transition: border-top 0.5s ease;
}
body{
    background-color: rgb(11, 204, 136);
}
.main_img{
    width: 100%;
    height: 800px;
    
}
.sec_1 h1, p{
    position: relative;
    text-align: center;
    margin: 5% 10%;

}
.sec_2{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 10%;
}
.sec_2 img{
    width: 100%;
}
.in{
    width: 30%;
    text-align: center;
    background-color: rgb(32, 85, 85);
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    color: aliceblue;
    padding: 20px;
}
.out{
    width: 30%;
    text-align: center;
    background-color: rgb(32, 85, 85);
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    color: aliceblue;
    padding: 20px;
}
#menu{
    display: none;
}
header label{
    display: none;
}
footer{
    background-color: rgb(32, 85, 85);
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
    footer p{
        margin: 0;
    }
    footer a{
        color: aliceblue;
        text-decoration: none;
    }
    footer a:hover{
        color: rgb(204, 204, 11);
    }
    footer ul{
        list-style: none;
        
    }
.footer{
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}